@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('reset.css');

body {
    background: #001821;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1.42;
}

.main-page-wrapper {
    background: url('../images/top_bg.jpg') center top no-repeat, url('../images/bottom_bg.png') center bottom 155px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 78px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
}

.menu {
    position: absolute;
    top: 40px;
    left: 164px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item_active .menu__link {
    color: #DA0100;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    position: absolute;
    top: 27px;
    right: 0;
    text-align: right;
}

.contacts__description {
    font-size: 11px;
    line-height: 1.9;
    color: #9A9A9A;
}

.contacts__phone {
    display: inline-block;
    font-size: 26px;
    margin-bottom: -4px;
}

.contacts__dropdown-title {
    text-decoration: underline;
    font-size: 13px;
    margin: -3px 1px 0 0;
}

.hero {
    margin-bottom: 245px;
}

.hero__text-section {
    width: 520px;
}

.hero__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.36;
    margin-bottom: 27px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background: #f5170e;
    border-radius: 35px;
    padding: 18px 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    background: #da0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.tours-section {
    margin-bottom: 121px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.tours-title:after {
    margin-left: 12px;
    content: "";
    display: inline-block;
    width: 21px;
    height: 28px;
    background: url('../images/icons/flame.svg') center center no-repeat;

}

.tours__card {
    min-height: 450px;
    width: 362px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    color: #303030;
    display: inline-block;
    margin-right: 23px;
}

.tours__card:last-child {
    margin-right: 0;
}

.tours__header {
    min-height: 144px;
    margin-bottom: 32px;
}

.tours__body {
    padding: 0 22px 26px;
}

.tours__title {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 21px;
}

.tours__conditions {
    margin-bottom: 23px;
}

.tours__icon {
    display: inline-block;
    margin: 0 6px 0 5px;
    vertical-align: middle;
}

.tours__description {
    display: inline-block;
    margin-right: 21px;
    vertical-align: middle;
    font-size: 16px;
}

.tours__description:last-child {
    margin-right: 0;
}

.tours__text {
    line-height: 1.5;
    margin-bottom: 24px;
}

.btn_color_w {
    padding: 18px 30px;
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
}

.btn_color_w:visited {
    color: #F5170E;
}

.btn_color_w:hover {
    color: #fff;
    background: #F5170E;
}

.news-section {
    margin-bottom: 146px;
}

.news__card {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 19px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 52px;
}

.news__card:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__body {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 30px 20px;
    min-height: 120px;
}

.news__date {
    display: block;
    margin-bottom: 14px;
}

.news__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.news__text {
    font-size: 16px;
    line-height: 1.5;
}

.paginator {
    text-align: center;
    font-size: 16px;
}

.paginator__pages,
.paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__pages {
    margin-right: 25px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}

.paginator__item_active .paginator__link,
.paginator__link:hover {
    color: #F5170E;
    background: #fff;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 700;
    line-height: 32px;
}

.about-section {
    margin-bottom: 55px;
}

.about:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url('../images/about/behind.jpg') center center / cover no-repeat;
}

.about__body {
    background: url('../images/about/in_front.jpg') center center / cover no-repeat;
    padding: 70px 205px 66px 80px;
    width: 785px;
    margin: 97px 0 0 -140px;
    min-height: 455px;
}

.about:before,
.about__body {
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 36px;
    color: #000;
}

.about__text {
    font-size: 16px;
    color: #060606;
    margin-bottom: 42px;
    line-height: 1.69;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

.footer {

    height: 130px;
    position: relative;
}

.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 16px;
}

.socials {
    position: absolute;
    top: 33px;
    right: 264px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item_icon_telegram .socials__link {
    background-image: url('../images/icons/social/telegram.svg');
}

.socials__item_icon_telegram .socials__link:hover {
    background-image: url('../images/icons/social/telegram_h.svg');
}

.socials__item_icon_vk .socials__link {
    background-image: url('../images/icons/social/vk.svg');
}

.socials__item_icon_vk .socials__link:hover {
    background-image: url('../images/icons/social/vk_h.svg');
}

.socials__item_icon_fb .socials__link {
    background-image: url('../images/icons/social/facebook.svg');
}

.socials__item_icon_fb .socials__link:hover {
    background-image: url('../images/icons/social/facebook_h.svg');
}

.socials__item_icon_inst .socials__link {
    background-image: url('../images/icons/social/instagram.svg');
}

.socials__item_icon_inst .socials__link:hover {
    background-image: url('../images/icons/social/instagram_h.svg');
}