.socials {
	display: flex;
	flex: 1 0 175px;
	margin: 3px 73px 0 0;
}

.socials__item {
	margin-right: 10px;
}

.socials__item:last-child{
	margin-right: 0;
}

.socials__link {
	display: block;
	width: 36px;
	height: 36px;
	background: center center no-repeat;
}

.socials__item_icon_telegram .socials__link {
	background-image: url('./../../../images/icons/social/telegram.svg');
}

.socials__item_icon_telegram .socials__link:hover {
	background-image: url('./../../../images/icons/social/telegram_h.svg');
}

.socials__item_icon_vk .socials__link {
	background-image: url('./../../../images/icons/social/vk.svg');
}

.socials__item_icon_vk .socials__link:hover {
	background-image: url('./../../../images/icons/social/vk_h.svg');
}

.socials__item_icon_fb .socials__link {
	background-image: url('./../../../images/icons/social/facebook.svg');
}

.socials__item_icon_fb .socials__link:hover {
	background-image: url('./../../../images/icons/social/facebook_h.svg');
}

.socials__item_icon_inst .socials__link {
	background-image: url('./../../../images/icons/social/instagram.svg');
}

.socials__item_icon_inst .socials__link:hover {
	background-image: url('./../../../images/icons/social/instagram_h.svg');
}